.navbar-light {
  background-color: #e3f2fd;
  padding: 13px 20px !important;
}

.cart {
  width: 34px;
  padding: 0 4px 0 0;
}

.cart-link {
  position: relative;
}

.badge {
  padding: 3px 7px 4px 6px;
  position: absolute;
  background-color: #add8e6;
  border-radius: 100px;
  bottom: -10px;
  right: -2px;
  font-size: 10px;
}

.jumbotron {
  background-color: #add8e6;
  border-radius: 0;
}

.card-img-top {
  width: 100%;
}

.price {
  padding-top: 2px;
}

.btn-info {
  color: white !important;
}

.product-image {
  width: 100%;
}

.product-description {
  font-size: 105%;
}

.product-row {
  margin: 10px 0 20px;
}

.product-image-small {
  width: 100px;
  height: 100px;
	margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin-right: 0px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.productActive {
  border-color: #444444;
}

.product-image-small-inside {
  width: 100%;
  height: auto;
  margin: auto 0;
}

.input-group {
  padding-top: 5px;
  justify-content: center;
}

.input-group-addon {
  background-color: white;
}

.form-control {
  background-color: white !important;
  padding: 5px 10px !important;
}

.quantity {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  max-width: 50px !important;
  justify-content: center !important;
}

.media {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-row {
  margin: 15px 0 10px;
}

.cart-image {
  width: 64px;
  height: auto;
}

.cart-total {
  text-align: right;
}

.cart-empty {
  padding: 15px 0 10px;
}

.form-input {
  width: 40%;
}

footer {
  padding: 3em 2em 1em;
  margin-top: 20px;
  background-color: #e3f2fd;
}

.ftr-ul {
  list-style: none;
  margin: 0;
}

.ftr-head {
  font-weight: 600;
  font-size: 105%;
  padding-bottom: 3px;
}

.ftr-li a {
  color: black; 
}

.copyright {
  font-size: 90%;
  padding-top: 1.5em;
}
